@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
.body {
    margin: 60px auto;
    width: 70%;
}
.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1em;
  align-items: center;
  text-align: center;
  border-bottom: 4px solid #007fff;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-top: 4px solid #007fff;
}
@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}
.logo {
  grid-column: 1;
  background-image: url("logo.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
}
.1 {
    grid-column: 1;
}
.2 {
  grid-column: 2;
}
.3 {
  grid-column: 3;
}
.4 {
  grid-column: 4;
}
.navLinks {
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: 0.4s;
    padding: 1em 1em;
}
.navLinks:hover {
    /*opacity: 1; */
    color: #007fff;
    padding: 1em 1em;
}
.navLinks:active {
    color: #848482;
}
.footerLinks {
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 1em 1em;
}
.footerLinks:visited {
    color: black;
}
.footerLinks:hover {
    color: #007fff;
    padding: 1em 1em;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}

/*
nav ul {
    font-family: 'Slim Jim', 'Impact', 'Arial Black', sans-serif;
    padding: 0px;
    list-style: none;
    text-align: center;
}
footer ul {
    background-color: #ace5ee;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: lighter;
    font-size: 2em;
    text-align: center;
}
nav ul li a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1rem 0rem 1rem 1rem;
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 1rem;
        border-right: 1px solid white;
        margin-left: 1rem;
    }
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid black;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
*/
