@import url('https://fonts.googleapis.com/css2?family=Lato:wght@500&display=swap');
.body {
    margin: 60px auto;
    width: 80%;
}
nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  grid-gap: 0em;
  align-items: center;
  text-align: center;
  padding-top: 10px;
  border-bottom: 4px solid #007fff;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-gap: 1em;
    align-items: center;
    text-align: center;
    border-top: 4px solid #007fff;
}
@media screen and (max-width: 900px) {
  nav {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 1em;
 }
}
.logo {
    grid-column: 1;
    background-image: url("logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 10vh;
}
.profilePic {
    background-image: url("profilePic.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 8vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.navLinks {
    font-family: 'Lato', sans-serif;
    font-size: 1.9em;
    text-decoration: none;
    font-weight: 600;
    color: black;
    transition: color .5s;
    padding: 1em 1em;
}
.navLinks:hover {
  text-decoration: none;
  color: #696969;
}
.navLinks:hover a {
  text-decoration: none;
  color: inherit;
}
.footerLinks {
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 1em 1em;
}
.footerLinks:visited {
    color: black;
}
.footerLinks:hover {
    text-decoration: none;
    color: #696969;
}
.footerLinks:hover a {
  text-decoration: none;
  color: inherit;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1em;
    line-height: 1.2em;
    color: #333;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
w3-button w3-block w3-left-align {
    font-weight: bold;
}
a.projLink {
    text-align: center;
    color: blue;
}
.resumeLink {
    display: block;
    line-height: 7em;
    color: #69696;
    font-weight: bold;
    text-align: center;
    border-radius: 25px;
    background: #007fff;
    padding: 20px;
    width: 20em;
    height: 7em;
}
