<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		</head>
		<body>
			<nav class="container">
        			<div class="logo">
        			</div>
        			<div class="2">
          				<a href="/" class="navLinks">About</a>
        			</div>
        			<div class="3">
          				<a href="/projects" class="navLinks">Projects</a>
        			</div>
        			<div class="4">
          				<a href="/blog" class="navLinks">Blog</a>
        			</div>
      			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer class="container">
				<div class="1"> </div>
				<div class="2">
					<a href="mailto:beauhodes@gmail.com">Email</a>
				</div>
				<div class="3">
					<a href="https://github.com/beauhodes">Github</a>
				</div>
				<div class="4"> </div>
			</footer>
		</body>
	</html>
