<!DOCTYPE html>
	<html>
		<head>
			<!-- Title -->
			<title>{{ page.title }}</title>
			<!-- Icon -->
			<link rel="icon" type="image/ico" href="/resources/logoSquare.ico">
			<!-- Custom styling -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" type="text/css" href="/css/highlight.css">
			<!-- Bootstrap -->
      			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      			<!-- W3 transitions -->
			<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
			<!-- Fontawesome -->
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JGKLTXJ00"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'G-9JGKLTXJ00');
			</script>
		</head>
		<body>
			<nav class="container">
				<div class="row">
          			<div class="col mx-1 logo"></div>
          			<div class="col mx-1 navLinks"><a href="/projects">Projects</a></div>
          			<div class="col mx-1 navLinks"><a href="/">About</a></div>
          			<div class="col mx-1 navLinks"><a href="/articles">Articles</a></div>
          			<div class="col mx-1 profilePic"></div>
        			</div>
      			</nav>
			<div class="container">
			
			{{ content }}
			
			</div>
			<footer class="container">
				<div class="row">
          			<div class="col mx-3 footerLinks"><a href="mailto:beauhodes@gmail.com" class="footerLinks">Email</a></div>
          			<div class="col mx-3 footerLinks"><a href="https://github.com/beauhodes" class="footerLinks">Github</a></div>
          			<div class="col mx-3 footerLinks"><a href="https://www.linkedin.com/in/beauhodes" class="footerLinks">LinkedIn</a></div>
				<div class="col mx-3 footerLinks"><a href="https://twitter.com/bh359" class="footerLinks">Twitter</a></div>
				</div>
			</footer>
		</body>
	</html>
